{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body" style="display: flex; padding: 2%; gap: 3%;">
    <div>
      <div id="legend-container">
        <div class="legend-label label-top">Safe</div>
        <div class="legend-label label-bottom">Critical</div>
        <div id="pointer">
          <div id="pointer-value">0.00</div>
        </div>
      </div>
    </div>
    <div id="map" style="height: 600px; width: 600px;"></div>
    <div class="container mt-5" style="width: 50%; margin-top: 0px !important;">
      <div class="form-container">
        <h2 class="mb-4">Predict Form</h2>
        <form id="predictForm">
          <div class="form-group">
            <label for="latitude">Latitude</label>
            <input type="number" class="form-control" id="latitude" name="latitude" placeholder="Enter latitude" step="any" required>
          </div>
          <div class="form-group">
            <label for="longitude">Longitude</label>
            <input type="number" class="form-control" id="longitude" name="longitude" placeholder="Enter longitude" step="any" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <div class="mt-4">
        <h4>Commonly Bycaught Fish</h4>
        <div id="fishButtons">
          <!-- Fish buttons will be inserted here by JavaScript -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="fishInfoModal" tabindex="-1" role="dialog" aria-labelledby="fishInfoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" style="color: black">
        <div class="modal-header">
          <h5 class="modal-title" id="fishInfoLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="fishInfoText"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block scripts %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&&callback=initMap"></script>
<script src="../static/js/bycatch_tracker.js"></script>
<script src="../static/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script>
{% endblock %}